{% extends 'base.html' %}
{% block content %}
<h2>System Log</h2>
<table class="table">
  <tr><th>Time</th><th>User</th><th>Action</th></tr>
  {% for log in logs %}
  <tr>
    <td>{{ log.timestamp }}</td>
    <td>{{ log.user.username if log.user else 'anon' }}</td>
    <td>{{ log.action }}
      {% if log.item %}- {{ log.item.name }}{% elif log.container %}- {{ log.container.name or log.container.code }}{% elif log.location %}- {{ log.location.name }}{% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

