{% extends 'base.html' %}
{% block content %}
<h2>Container {{ container.code }}</h2>
{% if container.image %}
  <img src="{{ url_for('static', filename=container.image) }}" class="img-fluid mb-3 mx-auto d-block" style="max-width:200px;">
{% endif %}
<img src="{{ url_for('static', filename='qr/' + container.code + '.png') }}" class="mb-3 mx-auto d-block qr-img">
<a class="btn btn-secondary mb-3 d-block mx-auto" download href="{{ url_for('static', filename='qr/' + container.code + '.png') }}">Download QR</a>
<table class="table table-sm mb-3">
  <tr><th>Name</th><td>{{ container.name }}</td></tr>
  <tr><th>Size</th><td>{{ container.size }}</td></tr>
  <tr><th>Color</th><td>{{ container.color }}</td></tr>
  <tr><th>Location</th><td>{{ container.location.full_path() if container.location else '' }}</td></tr>
  <tr><th>Created</th><td>{{ container.created_at }} by {{ container.created_by.username if container.created_by else 'n/a' }}</td></tr>
  <tr><th>Updated</th><td>{{ container.updated_at }} by {{ container.updated_by.username if container.updated_by else 'n/a' }}</td></tr>
</table>
<div class="buttons-vertical">
  <a class="btn btn-info" href="/container/{{ container.code }}/edit">Edit</a>
  <a class="btn btn-warning" href="/container/{{ container.code }}/remove">Remove from location</a>
  {% if container.missing %}
  <form action="/container/{{ container.code }}/found" method="post">
    <button class="btn btn-success w-100">Report Found</button>
  </form>
  {% else %}
  <form action="/container/{{ container.code }}/missing" method="post">
    <button class="btn btn-danger w-100">Report Missing</button>
  </form>
  {% endif %}
  <form action="/container/{{ container.code }}/regen" method="post">
    <button class="btn btn-secondary w-100">New QR Code</button>
  </form>
  <a class="btn btn-danger" href="/container/{{ container.code }}/delete" onclick="return confirm('Delete container?');">Delete</a>
</div>
  <div class="accordion mt-3" id="contAcc">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingItems">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItems">Items</button>
    </h2>
    <div id="collapseItems" class="accordion-collapse collapse show">
      <div class="accordion-body p-0">
        <ul class="list-group list-group-flush">
        {% for item in container.items %}
          {% set loc = item.location.full_path() if item.location else (container.location.full_path() if container.location else '') %}
          <li class="list-group-item"><a href="/item/{{ item.code }}">{{ item.name }} ({{ item.quantity }}){% if loc %} / {{ loc }}{% endif %}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

