{% extends 'base.html' %}
{% block content %}
<h2>Container {{ container.code }}</h2>
{% if container.image %}
  <img src="{{ url_for('static', filename=container.image) }}" class="img-fluid mb-3" style="max-width:200px;">
{% endif %}
<ul>
  <li>Contents: {{ container.contents }}</li>
  <li>Size: {{ container.size }}</li>
  <li>Color: {{ container.color }}</li>
  <li>Created: {{ container.created_at }}</li>
  <li>Updated: {{ container.updated_at }}</li>
</ul>
<a class="btn btn-info" href="/container/{{ container.code }}/edit">Edit</a>
{% if container.location %}
<p>Location: <a href="/location/{{ container.location.code }}">{{ container.location.name }}</a></p>
{% endif %}
<h4>Items</h4>
<ul>
  {% for item in container.items %}
    <li><a href="/item/{{ item.code }}">{{ item.name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

