{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }}</h2>
{% if item.image %}
  <img src="{{ url_for('static', filename=item.image) }}" class="img-fluid mb-3 mx-auto d-block" style="max-width:200px;">
{% endif %}
<img src="{{ url_for('static', filename='qr/' + item.code + '.png') }}" class="mb-3 mx-auto d-block qr-img">
<ul class="list-group mb-3">
  <li>Type: {{ item.type }}</li>
  <li>Quantity: {{ item.quantity }}</li>
  <li>Created: {{ item.created_at }} by {{ item.created_by.username if item.created_by else 'n/a' }}</li>
  <li>Updated: {{ item.updated_at }} by {{ item.updated_by.username if item.updated_by else 'n/a' }}</li>
  <li>Missing: {{ 'Yes' if item.missing else 'No' }}</li>
</ul>
<div class="buttons-vertical">
  <a class="btn btn-secondary" href="/item/{{ item.code }}/split">Split</a>
  <a class="btn btn-warning" href="/item/{{ item.code }}/remove">Remove from location</a>
  <a class="btn btn-info" href="/item/{{ item.code }}/edit">Edit</a>
  <a class="btn btn-danger" href="/item/{{ item.code }}/delete" onclick="return confirm('Delete item?');">Delete</a>
  <form action="/item/{{ item.code }}/missing" method="post">
    <button class="btn btn-danger w-100">Report Missing</button>
  </form>
</div>
{% endblock %}

