{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }}</h2>
{% if item.image %}
  <img src="{{ url_for('static', filename=item.image) }}" class="img-fluid mb-3 mx-auto d-block" style="max-width:200px;">
{% endif %}
<img src="{{ url_for('static', filename='qr/' + item.code + '.png') }}" class="mb-3 mx-auto d-block qr-img">
<a class="btn btn-secondary mb-3 d-block mx-auto" download href="{{ url_for('static', filename='qr/' + item.code + '.png') }}">Download QR</a>
<table class="table table-sm mb-3">
  <tr><th>Type</th><td>{{ item.type }}</td></tr>
  <tr><th>Quantity</th><td>{{ item.quantity }}</td></tr>
  <tr><th>Location</th><td>{{ item.location.full_path() if item.location else '' }}</td></tr>
  <tr><th>Container</th><td>{{ item.container.name if item.container else '' }}</td></tr>
  <tr><th>Created</th><td><span class="timestamp" data-ts="{{ item.created_at.isoformat() }}Z"></span> by {{ item.created_by.username if item.created_by else 'n/a' }}</td></tr>
  <tr><th>Updated</th><td><span class="timestamp" data-ts="{{ item.updated_at.isoformat() }}Z"></span> by {{ item.updated_by.username if item.updated_by else 'n/a' }}</td></tr>
  <tr><th>Missing</th><td>{{ 'Yes' if item.missing else 'No' }}</td></tr>
</table>
<div class="buttons-vertical">
  <a class="btn btn-secondary" href="/item/{{ item.code }}/split">Split</a>
  <a class="btn btn-secondary" href="/item/{{ item.code }}/join">Join</a>
  <a class="btn btn-secondary" href="/relation/add/item/{{ item.code }}">Add Relation</a>
  <a class="btn btn-warning" href="/item/{{ item.code }}/remove">Remove from location</a>
  <a class="btn btn-info" href="/item/{{ item.code }}/edit">Edit</a>
  <a class="btn btn-danger" href="/item/{{ item.code }}/delete" onclick="return confirm('Delete item?');">Delete</a>
  {% if item.missing %}
  <form action="/item/{{ item.code }}/found" method="post">
    <button class="btn btn-success w-100">Report Found</button>
  </form>
  {% else %}
  <form action="/item/{{ item.code }}/missing" method="post">
    <button class="btn btn-danger w-100">Report Missing</button>
  </form>
  {% endif %}
  <form action="/item/{{ item.code }}/regen" method="post">
    <button class="btn btn-secondary w-100">New QR Code</button>
  </form>
</div>

  <div class="accordion mt-3" id="logAcc">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingLog">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLog">Item Log</button>
    </h2>
    <div id="collapseLog" class="accordion-collapse collapse show">
      <div class="accordion-body p-0">
        <ul class="list-group list-group-flush">
          {% for h in item.histories|sort(attribute='timestamp', reverse=True) %}
            <li class="list-group-item"><span class="timestamp" data-ts="{{ h.timestamp.isoformat() }}Z"></span> - {{ h.action }}{% if h.location %} {{ h.location.full_path() }}{% elif h.container %} {{ h.container.name or h.container.code }}{% endif %}{% if h.user %} by {{ h.user.username }}{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% if related %}
<h4>Relations</h4>
<ul>
{% for r in related %}
  <li><a href="{{ r.url }}">{{ r.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

