{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }}</h2>
{% if item.image %}
  <img src="{{ url_for('static', filename=item.image) }}" class="img-fluid mb-3" style="max-width:200px;">
{% endif %}
<ul>
  <li>Type: {{ item.type }}</li>
  <li>Quantity: {{ item.quantity }}</li>
  <li>Created: {{ item.created_at }}</li>
  <li>Updated: {{ item.updated_at }}</li>
  <li>Missing: {{ 'Yes' if item.missing else 'No' }}</li>
</ul>
<a class="btn btn-secondary" href="/item/{{ item.code }}/split">Split</a>
<a class="btn btn-warning" href="/item/{{ item.code }}/remove">Remove from location</a>
<a class="btn btn-info" href="/item/{{ item.code }}/edit">Edit</a>
<form action="/item/{{ item.code }}/missing" method="post" style="display:inline">
  <button class="btn btn-danger">Report Missing</button>
</form>
{% endblock %}

